/*Default styles for non-mobile devices (screen width of more than 480 pixels)*/

/*body style*/
body {
	display: flex;
	flex-direction: column;
	background-color: seashell;
	font-family: "Verdana", sans-serif;
	font-size: 20px;
	color: #144b6b;
	padding-bottom: 50px;
}

/*header style*/
header {
	background-color: #42a2db;
	border: 8px solid #144b6b;
	border-radius: 20px;
	color: white;
	padding: 10px;
}

/*h1 style*/
h1 {
	font-size: 60px;
	text-align: center;
	margin-bottom: 10px;
}

/*pokemon info page header information style*/
.infoPageHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

/*h2 style*/
h2 {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 24px;
}
/*legendary pokemon text style and hover animation*/
.legendary {
	margin-right: 20px;
	margin-left: 20px;
	color: gold;
	text-shadow: 4px 4px 2px #144b6b;
	
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	transition-delay: now;
}

.legendary:hover {
	color: white;
}

/*navigation bar style*/
nav {
	display: flex;
	flex-direction: row;
	background-color: #144b6b;
	border: 8px solid #42a2db;
	border-radius: 20px;
	margin-top: 20px;
	padding: 20px;
	font-size: 24px;
}

nav a {
	margin-left: 10px;
	margin-right: 10px;
}

/*link styles in various states*/
/*applies to both nav bar and menu links*/
a:link {
	color: gold;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a:active {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*generic menu style (homepage)*/
menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 320px;
	overflow: scroll;
	
	/*removing bullet points and indents from list items*/
	list-style-type: none;
	padding-left: 0px;
}

/*list item style (homepage menu items)*/
li {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*link styles that apply only to menu item links*/
a.menuItem {
	background-color: #42a2db;
	border: 8px solid #144b6b;
	border-radius: 20px;
	padding: 10px;
	padding-left: 100px;
	padding-right: 100px;
}

/*style for class that can be applied to any paragraph needing to be centered*/
.centerParagraph {
	text-align: center;
}

/*footer style*/
footer {
	background-color: seashell;
	border-top: 8px solid #144b6b;
	font-size: 14px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

/*menu style for info pages*/
.infoPageMenu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-right: 20px;
	width: 340px;
	border-bottom: 8px solid #144b6b;
	position: relative;
	height: 50px;
	
	transition: height 0.8s ease-out;
}

/*revealing info pages menu when it is hovered over*/
.infoPageMenu:hover {
	height: 300px;
	
	transition: height 0.8s ease-out;
}

/*Pokemon info page subsections style*/
.infoPageBody {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.infoPageMain {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

/*Pokemon stats table border and background style*/
table {
	border: 4px solid #144b6b;
	border-collapse: collapse;
	margin: 10px;
	margin-left: 0px;
	width: 300px;
	text-align: left;
}

tr:nth-child(2n-1) {
	background-color: #42a2db;
}

th, td {
	padding: 10px;
}

/*Pokemon info page paragraph style*/
.infoPageMain p {
	width: 600px;
}

/*Pokemon image style*/
img[src^="i"] {
	margin: 20px;
	
	animation: wobble 2s linear infinite;
}

/*Animation for pokemon images*/
@keyframes wobble {
	0% {transform: rotateZ(0);}
	8% {transform: rotateZ(-10deg);}
	16% {transform: rotateZ(10deg);}
	24%	{transform: rotateZ(0);}
}

/*Store page product list styles*/
.storePageBody {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

figure {
	background-color: #42a2db;
	border: 8px solid #144b6b;
	border-radius: 16px;
	padding: 30px;
	margin: 20px;
}

figcaption {
	color: seashell;
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
	border-top: 4px solid #144b6b;
	border-radius: 4px;
	margin: 15px;
	padding-top: 15px;
}

/*Shopping cart icon styles*/
picture.cart {
	color: white;
	font-size: 24px;
	position: absolute;
	top: 45px;
	right: 60px;
}

p.cart {
	background-color: #144b6b;
	border: solid 6px #144b6b;
	border-radius: 18px;
	color: white;
	font-weight: bold;
	font-size: 32px;
	position: absolute;
	top: 0;
	right: 50px;
}

/*Product page styles*/
.productPageBody {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.productPageMain {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 300px;
}

.productPageMain img {
	border: solid 10px #42a2db;
	border-radius: 20px;
	padding: 20px;
}

.productPageMain h2, .productPageMain h2 {
	margin: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}

/*Add to Cart button styles*/
.productForm input {
	width: 300px;
	margin: 0;
	margin-top: 20px;
}

/*Generic form styles*/
input[type="number"], input[type="text"] {
	background-color: #42a2db;
}

input[type="submit"], input[type="reset"] {
	background-color: #144b6b;
	font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="reset"]:hover, input[type="reset"]:active {
	background-color: #42a2db;
}

input {
	color: seashell;
	border: 0px;
	padding: 10px;
	font-size: 20px;
	margin: 10px;
	
	/*Required so that form buttons are the same size when padding/margins are set*/
	box-sizing: border-box;
}

/*Shopping cart product styles*/
.cartProduct {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-bottom: solid 8px #42a2db;
	font-size: 16pt;
}

.cartProduct p {
	margin-right: 30px;
	width: 300px;
}

.cartProduct img {
	margin-right: 10px;
	width: 75px;
	height: 75px;
}

/*Shopping cart page button styles*/
.cartProduct input {
	width: 300px;
	height: 40px;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	margin-top: 20px;
	margin-right: 30px;
}

.container {
	display: flex;
	flex-direction: row;
	width: 300px;
}

.container input {
	width: 100px;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
}

.buttonContainer input {
	width: 300px;
	margin-right: 30px;
}

/*Remove from Cart button styles*/
a.remove{
	background-color: #144b6b;
	color: seashell;
	width: 300px;
	height: 30px;
	padding: 10px;
	margin: 0;
	margin-top: 20px;
	margin-right: 30px;
	text-align: center;
	font-weight: bold;
}

a.remove:hover {
	background-color: #42a2db;
}

/*Checkout page styles*/
.checkoutMain {
	margin: 20px;
}

.checkoutMain form h2 {
	margin: 30px;
	margin-left: 0;
}

.checkoutMain p {
	padding-bottom: 10px;
	border-bottom: solid 8px #42a2db;
}

.checkoutMain form input[type="submit"] {
	margin-top: 50px;
	width: 300px;
}

.checkoutMain form input[type="text"] {
	width: 300px;
}

.invalid {
	background-color: #b0332a;
}